* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.movie {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

.star {
  color: yellow;
}

.link {
  text-decoration: none;
}


.img {
  width: 30vw;
  height: 100%;
}

.movie-name-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.movie-details {
  display: flex;
  flex-direction: column;
  gap: .7rem;
  font-size: 18px;
  font-weight: 400;
}

.cont {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 3vw;
}




@media(max-width:900px) {
  .cont {
    flex-wrap: wrap;
  }

  .img {
    object-fit: cover;
    width: 50vw;
  }
}

@media(max-width:600px) {
  .img {
    object-fit: cover;
    width: 50vw;
  }
}

@media(max-width:400px) {
  .cont {
    padding: 0vw;
  }

  .img {
    object-fit: cover;
    width: 80vw;
  }


}